* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  color: #fff;
  background: #050b16;
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 96px;
  margin: 0 auto;
  max-width: 1200px;
  gap: 56px;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  background: rgba(5, 11, 22, 0.9);
  z-index: 20;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  background:
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav a {
  margin-left: 24px;
  color: #aeaeb8;
}

details.sp-menu {
  align-items: baseline;
}

.sp-menu {
  display: none;
  position: relative;
}

.sp-menu summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sp-menu .nav {
  display: none;
  position: absolute;
  right: 0px;
  padding: 16px 16px 16px 0;
  flex-direction: column;
  gap: 12px;
  background: rgba(2, 8, 22, 0.8);
  z-index: 40;
}

.sp-menu .nav a {
  color: #fff;
}

.sp-menu[open] .nav,
.sp-menu.open .nav {
  display: flex;
}

.sp-menu__icon {
  width: 44px;
  height: 44px;
  background-color: #fff;
  -webkit-mask: url('images/menu.svg') no-repeat center / contain;
  mask: url('images/menu.svg') no-repeat center / contain;
}

/* Hero */
.hero {
  padding: 96px 0 48px;
  text-align: center;
}

.hero::before {
  position: absolute;
  top: -140px;                  /* 表示位置 */
  left: 50%;
  width: 1400px;                /* ぼかしの幅 */
  height: 300px;                /* ぼかしの高さ */
  /* 青み掛かったぼかし
  background:
    radial-gradient(
      ellipse at center top,
      rgba(2,91,207,1) 0%,
      rgba(2,91,207,0.8) 30%,
      rgba(2,91,207,0.2) 60%
    );
  */
  background:
    radial-gradient(
      ellipse at center top,
      rgba(85,225,221,1) 0%,
      rgba(0,100,158,1) 24%,
      rgba(2,8,22,1) 100%
    );
  content: "";
  transform: translateX(-50%);
  filter: blur(60px);           /* ぼかしの柔らかさ */
  opacity: 0.9;
  pointer-events: none;
  z-index: -1;
}

.hero h1 {
  font-size: 48px;
  line-height: 1.2;
}

.hero__text {
  margin: 16px auto 0;
  color: #aeaeb8;
  max-width: 640px;
}

/* Section */
.section__badge {
  display: inline-block;
  padding: 4px 12px;
  font-size: 13px;
  background:
    linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  border-radius: 999px;
  margin-bottom: 16px;
}

.section__title {
  font-size: 36px;
}

.section__title__break {
  display: block;
}

.section__text {
  color: #aeaeb8;
}

/* Features */
.features {
  padding: 48px 0;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  gap: 24px;
  margin-top: 30px;
}

.feature-grid > *:not(:nth-child(-n+3)) {
  display: none;
}

.feature-card {
  max-width: 320px;
  padding: 32px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  gap: 8px;
}

.feature-card__title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}

.feature-card__text {
  color: #aeaeb8;
}

.feature-card__icon {
  display: block;
  width: 48px;
  height: 48px;
  background-color: #fff;
}

/* Pricing */
.pricing {
  position: relative; /* ぼかし効果の表示用 */
  padding: 48px 0;
  text-align: center;
}

.pricing::before {
  position: absolute;
  top: 300px;                   /* 表示位置 */
  left: 50%;
  width: 900px;                 /* ぼかしの幅 */
  height: 300px;                /* ぼかしの高さ */
  background:
    radial-gradient(
      ellipse at center top,
      rgba(85, 225, 221, 1) 0%,
      rgba(0, 100, 158, 1) 24%,
      rgba(2, 8, 22, 1) 100%
    );
  content: "";
  transform: translateX(-50%);
  filter: blur(60px);           /* ぼかしの柔らかさ */
  opacity: 0.9;
  pointer-events: none;
  z-index: -1;
}

.price-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-top: 48px;
}

.price-card {
  width: 320px;
  padding: 32px;
  background: rgba(2, 8, 22, 1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  text-align: left;
  gap: 32px;
}

.price-card hr {
  margin: 32px 0;
  border-color: rgba(255, 255, 255, 0.2);
}

.price-card.is-main {
  color: #000;
  background: #fff;
}

.price-card.is-main hr {
  border-color: rgba(28, 28, 28, 0.1);
}

.price-card__container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 12px;
}

.price-card__title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

.price-card__badge {
  padding: 6px 10px;
  font-size: 14px;
  background: rgba(255, 178, 29, 0.5);
  border-radius: 8px;
}

.price-card__text {
  font-size: 14px;
  color: #aeaeb8;
}

.price-card__wrapper {
  display: inline-flex;
  align-items: baseline;
  width: 100%;
  gap: 8px;
}

.price-card__price {
  font-size: 40px;
}

.price-card__period {
  font-size: 14px;
  color: #aeaeb8;
}

.price-card.is-main .price-card__period {
  color: #000;
}

.price-card__cta {
  display: block;
  width: 100%;
  padding: 8px 20px;
  font-size: 16px;
  color: #000;
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(229, 229, 232, 0.8) 100%
    );
  border: none;
  margin-top: 24px;
  border-radius: 8px;
  text-align: center;
}

.price-card.is-main .price-card__cta {
  color: #fff;
  background:
    linear-gradient(
      180deg,
      rgba(2, 91, 207, 1) 0%,
      rgba(0, 145, 189, 0.8) 100%
    );
}

.price-card__list {
  list-style-type: none;
  padding-left: 24px;
}
.price-card__item {
  position: relative;
  font-size: 14px;
  line-height: 1.8;
}
.price-card__item::after {
  position: absolute;
  top: 0.5em;
  left: -1.5em;
  display: block;
  width: 10px;
  height: 5px;
  content: "";
  border-left: 3px solid #73d0b9;
  border-bottom: 3px solid #73d0b9;
  transform: rotate(-45deg);
}

/* Reviews */
.reviews {
  position: relative; /* ぼかし効果の表示用 */
  padding: 48px 0;
  text-align: center;
  overflow: hidden;
}

.reviews::before {
  position: absolute;
  bottom: -10%;                  /* 表示位置 */
  left: 0%;
  width: 1400px;                 /* ぼかしの幅 */
  height: 400px;                 /* ぼかしの高さ */
  background:
    radial-gradient(
      ellipse at center bottom,
      rgba(85, 225, 221, 1) 24%,
      rgba(0, 100, 158, 1) 40%,
      rgba(2, 8, 22, 1) 100%
    );
  content: "";
  transform: translateX(-60%);
  filter: blur(20px);            /* ぼかしの柔らかさ */
  opacity: 0.9;
  pointer-events: none;
  z-index: -1;
}

.review-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.review-card {
  display: flex;
  justify-content: space-between;
  width: 320px;
  padding: 32px;
  color: #000;
  background: #fff;
  flex-direction: column;
  border-radius: 16px;
  text-align: left;
  gap: 24px;
}

.review-card__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.6;
}

.review-card__star {
  display: inline-flex;
  align-items: center;
  margin: 0;
  gap: 6px;
}

.star-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.review-card__reviewer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.review-card__wrapper {
  display: flex;
  flex-direction: column;
}

.review-card__icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.review-card__name {
  margin: 0;
  font-size: 14px;
}
.review-card__role {
  margin: 0;
  font-size: 14px;
}

/* FAQ */
.faq {
  padding: 48px 0;
  text-align: center;
}

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.faq-item {
  padding: 12px 12px 12px 24px;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  text-align: left;
}

.faq-item summary {
  list-style: none;
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.faq-item__desc {
  color: #aeaeb8;
}

.faq-item summary::-webkit-details-marker { display: none; }

.faq-item summary::after {
  position: static;
  margin-left: auto;
  transform: none;
  right: 12px;
  font-size: 18px;
  color: #AEAEB8;
  content: '＋';
  transform: rotate(90deg);
  transition: transform .4s ease, opacity .2s ease;
}

.faq-item[open] summary::after {
  content: '－';
  transform: rotate(180deg);
}

/* Footer */
.footer {
  display: block;
  text-align: center;
  padding: 48px 0 24px 0;
}

.footer__inner {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;
  padding-bottom: 20px;
}

.footer__copyright {
  font-size: 14px;
  color: #aeaeb8;
  opacity: 0.6;
  margin-top: 40px;
}

/* Tablet */
@media (min-width: 810px) and (max-width: 1199px) {
  .container {
    padding: 0 40px;
  }

  .logo {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #ffffff;
  }

  .pc-menu {
    display: none;
  }

  .sp-menu {
    display: block;
  }

  .hero {
    padding: 72px 0 36px;
  }

  .hero::before,
  .reviews::before
  {
    width: 100%;
  }
  .pricing::before {
    width: 100%;
    height: 400px;
  }

  .features,
  .pricing,
  .reviews {
    padding: 36px 0;
  }

  .feature-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .feature-grid > *:not(:nth-child(-n+3)) {
    display: block;
  }

  .feature-card {
    max-width: 800px;
    width: auto;
  }

  .price-grid {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

   .review-grid {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .review-grid > .review-card {
    scroll-snap-align: center;
  }

  .hero::before {
    width: 100%;
  }

  .pricing::before {
    width: 60%;
  }

  .reviews::before {
    width: 100%;
  }

  .faq {
    padding: 36px 0 24px;
  }

  .footer {
    text-align: left;
    padding: 40px 36px 24px 36px;
  }

  .footer nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    a {
      margin-left: 0;
    }
  }

  .footer__copyright {
    margin-top: 36px;
  }
}

/* SP */
@media (max-width: 809px) {
  .container {
    padding: 0 32px;
  }

  .logo {
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #ffffff;
  }

  .pc-menu {
    display: none;
  }

  .sp-menu {
    display: block;
  }

  .hero {
    padding: 64px 0 32px;
  }

  .hero::before,
  .reviews::before
  {
    width: 100%;
  }
  .pricing::before {
    width: 100%;
    height: 400px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .section__title__break {
    display: inline;
  }

  .features,
  .pricing,
  .reviews {
    padding: 32px 0;
  }

  .feature-grid,
  .price-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .feature-grid > *:not(:nth-child(-n+3)) {
    display: block;
  }

  .price-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .review-grid {
    gap: 16px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
  }
  .review-grid > .review-card {
    flex: 0 0 80%;
    scroll-snap-align: center;
  }

  .review-card {
    width: 300px;
  }

  .faq {
    padding: 32px 0 24px;
  }

  .faq-item summary {
    padding-right: 4px;
  }

  .footer {
    text-align: left;
    padding: 40px 32px 24px 32px;
  }

  .footer nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    
    a {
      margin-left: 0;
    }
  }

  .footer__copyright {
    margin-top: 32px;
  }
}
